@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.Models;
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Employee

<h2>Update</h2>

<form method="post" action="/Employees/Update" class="form-inline">
    <div class="row">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <input class="form-control" type="text" name="FirstName" value="@Model.FirstName" placeholder="First name" required>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="LastName" value="@Model.LastName" placeholder="Last name" required>
        </div>

        <div class="checkbox">
            @Html.DropDownList("positionID", ViewBag.positions as SelectList, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input class="form-control" type="datetime" value="@Model.Birthday" name="Birthday" required>
        </div>

        <div class="checkbox">
            <select name="Gender" class="form-control">
                @if (Model.Gender == Gender.Female)
                {
                    <option value="1" selected>Female</option>
                    <option value="0">Male</option>
                }
                else
                {
                    <option value="0" selected>Male</option>
                    <option value="1">Female</option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="number" min="0" value="@Model.Salary" class="form-control" name="Salary" placeholder="Salary" required />
        </div>

        <div class="form-group">
            <input type="tel" value="@Model.PhoneNumber" class="form-control" name="PhoneNumber" placeholder="Phone number" required />
        </div>

        <div class="form-group">
            <input type="email" value="@Model.Email" class="form-control" name="Email" placeholder="Email" required />
        </div>

        <div class="checkbox">
            @Html.DropDownList("DepartmentId", ViewBag.departments as SelectList, new { @class = "form-control" })
        </div>


        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-warning" />
        </div>


    </div>
</form>

