@using MVC_Practice.Models.DbModels
@model EmployeeOrder
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

<form method="post" action="/EmployeeOrders/Update" name="AddForm" class="form-inline">
    <div class="row">

        <input type="hidden" name="eOrderID" value="@Model.eOrderID" />

        <div class="form-group">
            <input class="form-control" type="datetime" name="orderDate" value="@Model.orderDate" required>
        </div>

        <div class="checkbox">
            @Html.DropDownList("employeeID", ViewBag.employees as SelectList, new { @class = "form-control" })
        </div>

        <div class="checkbox">
            @Html.DropDownList("orderTypeID", ViewBag.orders as SelectList, new { @class = "form-control" })
        </div>

    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label for="orderDesription">Description</label>
            <textarea class="form-control" name="orderDescription" rows="5" cols="50" required>
                @Model.orderDescription            
            </textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary form-control" />
        </div>
    </div>
</form>