@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.Models;
@model Content
@{
    IEnumerable<Content> item = new List<Content>() { Model };
}
@{
    ViewBag.Title = "OpenItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipment of Item</h2>

<table class="table">
    @ShipmentHelpers.ContentList(item, new List<bool>() { false }, true)
</table>



@if (ViewBag.max != 0)
{
    <h3>Add shipment</h3>

    <div class="container-fluid">
        <form method="post" action="/Shipment/AddItem" name="AddForm" class="form-horizontal">
            <div class="row">
                <input type="hidden" name="contentID" value="@Model.Id" required />
                <input type="hidden" name="resourceID" value="@Model.Resource.Id" required />

                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">New storage</button>

                <br />

                <label class="control-label">Storage:</label>

                <div class="checkbox">
                    @Html.DropDownList("storageID", ViewBag.storages as SelectList, new { @class = "form-control" })
                </div>

                <br />

                <label class="control-label" for="date">Date of shipment:</label>
                <input class="form-control" type="date" name="date" required>

                <br />

                <label class="control-label" for="amount">Amount:</label>
                <input class="form-control" type="number" min="@ViewBag.min" max="@ViewBag.max" name="amount" required />

                <br />

                <input type="submit" value="Add" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>

    <br />
}
else
{
    <h3>This content is already on storage</h3>
}

<div class="container">
    <a type="button" class="btn btn-primary" href="~/Shipment/OpenOrder?id=@Model.Order.Id">Back</a>
</div>

<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/Shipment/AddStorage" name="AddForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add storage</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" name="storageAddres" placeholder="Storage address" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary form-control" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>