@using MVC_Practice.Models

@helper EmployeeOrdersList(IEnumerable<EmployeeOrder> Model, bool IsReadonly)
{
    <tr>
        <th>Employee</th>
        <th>Type</th>
        <th>Date</th>
        <th></th>@*Open button*@
        @if (!IsReadonly)
        {
            <th></th>
            <th></th>
        }
    </tr>
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Employee1.firstname @item.Employee1.lastname</td>
            <td>@item.OrderType1.orderName</td>
            <td>@item.orderDate</td>
            <td>
                <form class="form-inline" method="get" action="/EmployeeOrders/Open">
                    <input type="hidden" value="@item.orderID" name="id" />
                    <input type="submit" class="btn btn-primary" value="Open" />
                </form>
            </td>
            @if (!IsReadonly)
            {
                <td>
                    <form class="form-inline" method="get" action="/EmployeeOrders/Delete">
                        <input type="hidden" value="@item.orderID" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    <form class="form-inline" method="get" action="/EmployeesOrders/Update">
                        <input type="hidden" value="@item.orderID" name="id" />
                        <input type="submit" value="Update" class="btn btn-warning" />
                    </form>
                </td>
            }
        </tr>
    }
}

@helper DetailedEmployeeOrder(EmployeeOrder model)
{
    <div class="container-fluid">
        <h4>Employee: @model.Employee1.firstname @model.Employee1.lastname</h4>
        <h4>Order type: @model.OrderType1.orderName</h4>
        <h4>Date: @model.orderDate</h4>
    </div>
    <br />
    <div class="container-fluid">
        <h4>Description:</h4>
        <p>@model.orderDescription</p>
    </div>
}
